#container{
    width: 800px;
    height: 300px;
    border: 2px solid rgb(9,9,9);
    margin-top: 110px;
    margin-left: 150px;
    display: flex; 
    flex-direction: column;
    flex-direction: row;
    flex-direction: column-reverse;
    flex-direction: row-reverse;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: space-evenly;
}
div {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    
}
#box1{
    background-color: aqua;
}
#box2{
    background-color: blue;
}
#box3{
    background-color: brown;
}
#box4{
    background-color: blueviolet;
}
#box5{
    background-color: red;
}